asgiref==3.8.1
blinker==1.8.2
click==8.1.7
distlib==0.3.8
Django==5.1.2
filelock==3.15.4
Flask==3.0.3
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.2
numpy==2.1.2
opencv-python==4.10.0.84
packaging==24.1
pillow==11.0.0
platformdirs==4.2.2
pytesseract==0.3.13
sqlparse==0.5.1
virtualenv==20.26.3
Werkzeug==3.1.1
